optbib
*.DS_Store
*.aux
*.bbl
*.blg
*.idx
*.lock
*.log
*.nav
*.out
*.rel
*.snm
*.swp
*.synctex*
*.toc
*.vrb
*.fls
*.fdb_latexmk
*~
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
.auctex-auto
Icon?
Thumbs.db
ehthumbs.db
.Rhistory
_region_.tex
main.pdf
